header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  background-color: #ddcbae;
  justify-content: center;

  .main-title {
    margin: 0;
    font-size: 15px;
    color: #fff;
    cursor: default;
  }
 /* 전체 배경: #FFF8E8

섹션 / 구분 박스: #FFEED6

카드·컴포넌트: #F4E6D3

포인트 버튼: #D9BFA9

텍스트(진한 글씨): #B49A84
*/
 
}
main {
  display: flex;
  flex-grow: 1;
}
aside {
  margin-top: 5px;
  border-radius: 6px;
  min-width: 180px;
  width: 180px;
  height: 100%;
  background-color: #ddcbae;  
  overflow: hidden;

  .aside-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0 20px 0;
    background-color: #d0c7b0;
  }
  .aside-student-name {
    color: white;
    font-size: 15px;
    margin: 0;
    cursor: default;
  }

  .aside-menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > a {
      text-decoration: none;
      color: #ffffff;
    }

    .aside-menu-item {
      display: flex;
      padding: 14px;
      margin: 0;
      border-bottom: 0.1px solid black;

      &:hover {
        background-color: #555;
      }

      &:active {
        background-color: #55555a;
      }

      & > div:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        margin-top: 2px;
      }

      & > div:nth-of-type(2) {
        padding-left: 4 px;
      }
    }
  }
}
article {
  flex-grow: 1;
  background-color: #f3f3f3;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-left: 10px;
  min-width: 1000px;


  & > .main-top {
    
    height: 180px;
    margin: 5px 5px 0 5px ;
  }

  & > .main-body {
    flex-grow: 1;
    margin: 5px 5px 5px 5px;
  }
}

.course-info-container {
  
  .course-info-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
    & > h2 {
      margin: 0;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .course-info-item-group{
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .course-info-item {
      display: flex;
        box-sizing: border-box;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        width: fit-content;

      .course-info-label {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 5px;
        width: 100px;
        background-color: #00000011;
        font-weight: 500;
        color: #222222;
      }

      .course-info-text {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #dbdbdb;
        box-sizing: border-box;
        padding: 5px;
        min-width: 150px;
      } 
    }
  }

}

.btn-black {
  background-color: #444;
  color: #ffffff;

  &:hover {
    background-color: #333;
  }

  &:active {
    align-content: #111;
  }
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: #2f2f2f;
  & > a {
    text-decoration: none;
    color: #ffffff;
  }

  .nav-list-item {
    box-sizing: border-box;
    padding: 5px 10px;
    transition: all 0.2 ease-in-out;
    &:hover {
      transform: scale(105%);
      text-shadow: 0 0 5px #ffffff33;
    }
  }
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
}
  .box1 {
    background-color: #F5E8C7;
  }
  .box2 {
    background-color: #E8D5B7
;
  }
  .box3 {
    background-color: #D3C7B6;
  }
  .box4 {
    background-color: #A68A64
;
  }
  .box5 {
    background-color: #6D4C41;
  }
