    .box1 {
      box-sizing: border-box;
      border: 5px solid #00000000;
      padding: 25px;
      margin: 50px;
      width: 50px;
      height: 50px;
      background-color: #000;
      background-clip: content-box;
    }
    
    .box2 {
      box-sizing: border-box;
      border: 1px solid #dbdbdb;
      padding: 50px;
      width: 300px;
      height: 300px;
      background-color: skyblue;
    }

    .box3 {
      box-sizing: border-box;
      border: 1px solid #dbdbdb;
      width: 100%;
      height: 100%;
      background-color: yellow;
    }

    .button {
      border: 1px solid #dbdbdb;
      border-radius: 5px 10px 5px 10px;
      padding: 20px;
      margin: 10px;
      width: fit-content;
      height: fit-content;
      background-color: #fafafa;
      cursor: pointer;
    }

    .circle {
      width: 300px;
      height: 100px;
      background-color: red;
      border-radius: 50%;
    }